<div class="login-container">
  <div class="form-section">
    <div class="form-wrapper">
      <h1 class="logo">Logo</h1>
      <h2 class="welcome-text">Join And Turn Your Real Estate Goals Into Reality</h2>
      
      <button class="google-btn" type="button">
        <img src="images/google-icon.svg" alt="Google"> 
        <span>Sign up with google</span>
      </button>

      <div class="divider">
        <span class="line"></span>
        <span class="text">OR</span>
        <span class="line"></span>
      </div>

      <div class="input-group">
        <label> Name</label>
        <input type="text" placeholder="Enter Your Full Name">
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email" placeholder="Enter Your Email">
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" placeholder="Create a password">
      </div>

      <button class="login-submit-btn" type="submit">Create an account</button>
      
      <p style="margin-top: 20px; font-size: 14px; color: #666;">
        Already have an account? 
        <a routerLink="/login" style="color: #000; font-weight: bold; text-decoration: none; cursor: pointer;">Login</a>
      </p>
    </div>
  </div>

  <div class="image-section">
    <img src="images/house2.png" alt="Real Estate House">
  </div>
</div>